.Developed-Project-Container{
    border-top: 1px solid #d9d9d925;
    border-right: unset;
    border-left: unset;
    padding: 3rem 5rem;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.Developed-Project-Container:hover .Developed-Project-Icon-Container{
    opacity: 1;
}

.Developed-Project-Title{
    font-size: 4vw;
    font-weight: 500;
}

.Developed-Project-Icon-Container{
    font-size: 5vw;
    display: flex;
    opacity: .1;
    transition: opacity .2s linear;
}

@media screen and (max-width: 768px){
    .Developed-Project-Container{
        padding: 1.5rem 0;
    }
}