.Developed-Project-List-Container{
    padding: 0 2.5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.Developed-Project-List-Header-Title{
    opacity: .5;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .Developed-Project-List-Container{
        padding: 2rem 1.5rem 1rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .Developed-Project-List-Header-Title{
        font-size: .9rem;
    }
}