.Header-Container{
    padding: 0 2.5rem;
    background-color: #141414;
}

.Header-Wrapper-Container{
    border-bottom: 1px solid #d9d9d925;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.Header-Wrapper-Container > .Header-Item-Container:last-child .Header-Item-Bottom-Container{
    justify-content: flex-end;
}

.Header-Item-Container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.Header-Item-Bottom,
.Header-Item-Top{
    font-size: .9rem;
}

.Header-Item-Bottom-Container{
    display: flex;
    gap: .5rem;
    align-items: center;
}

@media screen and (max-width: 768px){
    .Header-Wrapper-Container > .Header-Item-Container:not(:last-child):not(:first-child){
        display: none;
    }
}